@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

header {
    text-align: center;
    color: rgb(255, 238, 2);
    background-color: cyan;
    padding: 10px;
    margin: 20px 10px 10px 10px;
}

.header-title {
    color: blueviolet;
    border: 5px solid rgb(255, 238, 2);
}

.grid-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.drawing-grid-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(16, 20px);
    grid-template-columns: repeat(16, 20px);
    margin: 0 auto;
    justify-content: center;
}

.grid-cell {
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border: 2px solid rgb(0, 0, 0);
}

.color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 10px auto; /*REMOVED COMMA, PALETTE NOW IN LINE WITH THE GRID*/
    width: 350px;
}

.color-option {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}
                                         /*STYLED CLEAR GRID BUTTON TO MATCH HEADER*/
#clear-grid {
    font-family: 'Press Start 2p';
    background-color: cyan;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px auto;
    display: block;
    text-align: center;
    cursor: pointer;
}

#toggle-line-mode {                    /*STYLED TOGGLE LINE BUTTON TO MATCH THEME*/
    font-family: 'Press Start 2p';
    background-color: cyan;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px auto;
    display: block;
    text-align: center;
    cursor: pointer;
}

#toggle-grid {                             /*STYLED THE TOGGLE GRID BUTTON FOR CORRESPONDANCE*/
    font-family: 'Press Start 2P';
    background-color: cyan;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px auto;
    display: block;
    text-align: center;
    cursor: pointer;
}

.button-container {
    position: absolute;
    bottom: 0px;
    right: -210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#save-art, #load-art {
    font-family: 'Press Start 2P';
    background-color:cyan;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#export-art {
    font-family: 'Press Start 2P';
    background-color: cyan;
    color: yellow;
    border: 2px solid yellow;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: block;
}
